 ## Que 1. Write a Python program to get the volume of a sphere with radius 6.

# Ans

In [1]:
r = float(input("Enter radius: "))

Enter radius: 6

In [2]:
pi = 3.1415

In [3]:
V = 4.0/3.0*pi* r**3

In [4]:
print("The volume of sphere is: ",V)

The volume of sphere is:  904.752

## Que 2. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum hint: write User defined functions

# Ans

In [5]:
f = int(input("Enter 1st num: "))

Enter 1st num: 2

In [6]:
s = int(input("Enter 2nd num: "))

Enter 2nd num: 5

In [7]:
t = int(input("enter 3rd num: "))

enter 3rd num: 3

In [8]:
if f != s != t:
    sum = (f+s+t)
else:
        sum = (f+s+t)*3
print(sum)

10

 ## Que 3. Write a Python program to count the number 4 in a given list.

List = [1,4,6,8,4,9,4]

# Ans

In [9]:
list = [1,4,6,8,4,9,4]

In [10]:
count_4 = list.count(4)

In [11]:
print(count_4)

3

## Que 4. Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence. Go to the editorSample numbers list :

399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,

815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,

958,743, 527]

# Ans

In [12]:
numbers = [399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
           815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
           958, 743, 527]

for num in numbers:
    if num == 237:
        break
    if num % 2 == 0:
        print(num)

162
758
918

## Que 5. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

# Ans

In [13]:
result=[]

In [14]:
for num in range(1500,2700+1):
    if num % 7 == 0 and num % 5 == 0:
        result.append(num)

In [15]:
print(result)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

## Que 6. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

Note : Use 'continue' statement.

# Ans

In [16]:
for num in range(7):
    if num == 3 or num == 6:
        continue
    print(num)

0
1
2
4
5

## Que 7. Write a Python program to get the Fibonacci series between 0 to 50.

# Ans

In [17]:
a, b = 0,1
print(a)
while b <= 50:
    print(b)
    a, b = b, a+b

0
1
1
2
3
5
8
13
21
34

## Que 9. Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,2,3,3,3,3,4,5]

# Ans

In [18]:
def get_unique_elements(input_list):
    unique_list = []
    for item in input_list:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list
sample_list = [1, 2, 3, 3, 3, 3, 4, 5]
result = get_unique_elements(sample_list)
print(result)

[1, 2, 3, 4, 5]